# MongoDB Atlas Credentials Template
MONGODB_USER=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URI=mongodb+srv://${MONGODB_USER}:${MONGODB_PASSWORD}@<cluster-url>/smarteats?retryWrites=true&w=majority
